extend layout
block content
	div.step
		div.title Welcome
		div.content
			| Welcome to Modcraft! Please follow along with this tutorial to get started created your very first Minecraft mod.
			| This guide assumes you have the following installed:
			ul
				li Minecraft
				li Eclipse
				li Git
	div.step
		div.title 1. Setup your Minecraft Forge Development Environment
		div.content
			| Follow the tutorial on the <a href="http://www.minecraftforge.net/wiki/Installation/Source">Minecraft Forge Wiki</a> to setup your development environment for Minecraft modding.
