/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = darken(#5DBA3B, 10%)
background-color = #3F8028
width = 1000px
step-height = 500px

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 64px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width width
  margin 50px auto

.main-content
  float left
  width 300px

.step
	color #fff
	font-size 24px
	margin-top 20px
	background-color main-color
	width width
	box-shadow 0px 2px 5px #888
	padding 0

	.title
		font-family 'Quicksand'
		font-size 32px
		display block
		background-color lighten(main-color, 20%)
		padding 10px
		margin 0
		font-size 64
		top 0
		left 0

	.content
		margin 10px
		padding 10px

		pre
			display block
			background-color lighten(main-color, 20%)
			font-family monospace
			padding 20px
			margin 10px
			font-size 20px
		a
			font-weight bold
			text-decoration none
		a:link
			color #FFF
		a:visited
			color #FFF

		ul
			list-style-type circle
			margin-left 20px
